<div class="main">
<div class="cover">
</div>
<div class="content">
<div class="read"></div>
<header><%=get('title')%></header>
<article>The “magic trick” of this solution relies on the clip property. It’s simple to understand and very efficient. Only downside It’s simple to understand and very efficient</article>
<footer>
	<section class="add"></section>
	<section class="comment"></section>
	<section class="share"></section>
</footer>
</div>
</div>
<div class="comment-list">
	<div>dsafdsa fdsafdsa fdsafd  dsafdsa dsa dfsa fdsa  dsafdsa  fdsafd </div>
	<div>dsafdsa fdsafdsa fdsafd  dsafdsa dsa dfsa fdsa  dsafdsa  fdsafd </div>
	<div>dsafdsa fdsafdsa fdsafd  dsafdsa dsa dfsa fdsa  dsafdsa  fdsafd </div>
	<div>dsafdsa fdsafdsa fdsafd  dsafdsa dsa dfsa fdsa  dsafdsa  fdsafd </div>
	<div>dsafdsa fdsafdsa fdsafd  dsafdsa dsa dfsa fdsa  dsafdsa  fdsafd </div>
</div>
